html,body{
    height: 100%;
}

#bg{
    height: 100%;
    max-width: 900px;
    font-family: Geneva,Arial,Helvetica,sans-serif; 
    background-color: #CCCCCC;
    margin: 100px auto;
    color: white;
    text-align: center;
    border: 5px solid #ffffff;
}
#bg header{
    height: 80px;
    width: 100%;
    font-size: 72px;
    color: white;
    background-color: #F47D31;
    text-align: center;
    border: 1px solid #58bc58;
}
#bg main{
    width: 100%;
    height:calc(100% - 130px);
    background-color: #888;
}
#bg main .left{
    width: 25%;
    height: 100%;
    text-align: center;
    border: 1px solid white;
}
#bg main .left h3{
    margin-top: 19px;
}
#bg main .left ul{
    margin-top: 20px;
}
#bg main .left li{
    height: 43px;
    line-height: 43px;
    border-bottom: 2px solid white;
    width: 100%;
}
#bg main .left li a{
    color: #F47D31;
}


#bg main .center{
    width: calc(100% - 55%);
    height: 100%;
   float: left;
}
#bg main .center .article-box{
    width: 100%;
    height: 50%;
    white-space: pre-line;
    background: white;
    padding: 7px;
    margin: 5px;
}
#bg main .center .article-box:nth-child(2){
    height: 270px;
}
#bg main .center .article-box header{
    width: 100%;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    margin-top: -20px;
    background: #F47D31;
}
#bg main .center .article-box p{
    text-align: left;
    color: #000;
}
#bg main .center .article-box footer{
    width: 100%;
    height: 25px;
    background: #F47D31;
    line-height: 25px;
    margin-top: 20px;
}

#bg main .aside{
    width: 23%;
    height: 98%;
    font-style: italic; 
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid white;
}

#bg footer{
    width: 100%;
    height: 50px;
    background: #F47D31;
    border: 1px solid red;
}