html,body{
    height: 100%;
}
#bg{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: pink;
        .aiqiyi{
            display: flex;
            width: 100%;
            height: 2.253333rem;
            flex-direction: column;
            background: #58a;
                .top{
                    // width: 100%;
                    height: 1.173333rem;
                    line-height: 1.173333rem;
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    text-align: center;
                    background: #191919;
                        h1{
                            width: 2.026667rem;
                            height: .786667rem;
                            margin-top: .266667rem;
                            margin-left: .666667rem;
                            background: url(../爱奇艺/images/iqiyi-logo.png) no-repeat center center/contain;
                        }
                        .i{
                            display: flex;
                            i{
                            line-height: 1.173333rem;
                            font-size: .4rem;
                            display: block;
                            color: #b0b0b0;
                            margin-left: .4rem;
                                // &:nth-child(1){ margin-left: 2.666667rem;}
                        }
                        }
                        
                        p{
                            font-size: .333333rem;
                            color: #b0b0b0;
                        }
                        a{
                            margin: auto 0;
                            width: 1.6rem;
                            height: .56rem;
                            display: block;
                            font-size: .253333rem;
                            text-align: center;
                            line-height: .56rem;
                            border-radius: .266667rem;
                            background: #41d740;
                            color: #191919;
                            margin-right: .266667rem;
                        }
                }
                .bottom{
                    display: flex;
                    width: 100%;
                    height: 1.173333rem;
                    background: #fff;
                    position: relative;
                    // justify-content: space-around;
                    // align-content: center;
                        .nav{
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-content: center;
                                a{
                                    width: 20%;
                                    font-size: .426667rem;
                                    color: #313131;
                                    text-align: center;
                                    line-height: 1.066667rem;
                                }
                                    .i{
                                        display: flex;
                                        flex-direction: column;
                                        align-content: center;
                                        margin-top: .133333rem;
                                        margin-right: .266667rem;
                                        // border-left: .013333rem solid;
                                            i{
                                                font-size: .466667rem;
                                                color: #969696;
                                            }
                                            p{
                                                font-size: .2rem;
                                                color: #969696;
                                            }
                                    }
                            }
                        .search{
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            position: absolute;
                            top: 102%;
                            left:0%;
                            height: 1.133333rem;
                            width: 100%;
                            background: #f7f7f7;
                            
                                a{
                                    position: absolute;
                                    right: 3%;
                                    top: 14%;
                                    display: block;
                                    width: 1.466667rem;
                                    height: .8rem;
                                    font-size: .386667rem;
                                    background: #41d740;
                                    color: #fff;
                                    text-align: center;
                                    line-height: .8rem;
                                    border-top-right-radius: .4rem;
                                    border-bottom-right-radius: .4rem;
                                }
                                input[type=text]{
                                    position: relative;
                                    width: 9.36rem;
                                    height: .8rem;
                                    margin: auto 0;
                                    border-radius: .4rem;
                                    text-align: center;
                                    border: 2px solid #41d740;
                                }
                        }
                }
        }
        .main{
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 1.173333rem;
            flex-direction: column;
            align-content: center;
            background: #58a;
                .banner{
                    
                }
        }

        .lv{

        }
}