@charset "UTF-8";
html, body {
  height: 100%;
}

#bg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bg main {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  background: #f7f7f7;
  overflow-y: scroll;
}

#bg main .header {
  height: 1.173333rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  background: #fff;
  padding: .373333rem .2rem .373333rem;
}

#bg main .header i {
  font-size: .213333rem;
  color: #5e5e68;
}

#bg main .header span {
  font-size: .426667rem;
  color: #5e5e68;
}

#bg main .header p {
  font-size: .426667rem;
  color: #5e5e68;
}

#bg main .header a {
  font-size: .426667rem;
  color: #5e5e68;
}

#bg main .search {
  display: flex;
  flex-direction: column;
  height: 5.76rem;
  background: #fe492e;
  box-sizing: border-box;
  padding: .4rem .4rem 2rem;
  position: relative;
}

#bg main .search input[type=text] {
  width: 8.2rem;
  height: .8rem;
  text-align: center;
  border-radius: .533333rem;
  background: #fff;
  border: none;
  position: relative;
}

#bg main .search i {
  font-size: .44rem;
  color: #cdcdcd;
  position: absolute;
  top: 10%;
  left: 10%;
}

#bg main .search em {
  display: block;
  position: absolute;
  width: .8rem;
  height: .706667rem;
  background: url(../京东/images/yiyuan.gif) no-repeat center center/contain;
  right: 5%;
  margin-top: .066667rem;
}

#bg main .search .some-a {
  display: flex;
  justify-content: space-around;
  margin-top: .533333rem;
}

#bg main .search .some-a a {
  font-size: .373333rem;
  color: #f7d9d7;
}

#bg main .search .banner {
  position: absolute;
  width: 90%;
  height: 2.666667rem;
  border-radius: .266667rem;
  display: flex;
  overflow-x: scroll;
  align-content: center;
  top: 55%;
  left: 5%;
}

#bg main .search .banner a {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  margin-right: .266667rem;
  display: block;
  border: 1px solid red;
  background: url(../京东/images/banner.webp) no-repeat center center/contain;
}

#bg main .nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 1.066667rem .773333rem .666667rem;
  background: #fff;
}

#bg main .nav a {
  display: flex;
  width: 17%;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: .533333rem;
}

#bg main .nav a:nth-child(1) i {
  background: url(../京东/images/icon1.webp) no-repeat center center/contain;
}

#bg main .nav a:nth-child(2) i {
  background: url(../京东/images/icon2.webp) no-repeat center center/contain;
}

#bg main .nav a:nth-child(3) i {
  background: url(../京东/images/icon3.webp) no-repeat center center/contain;
}

#bg main .nav a:nth-child(4) i {
  background: url(../京东/images/icon4.webp) no-repeat center center/contain;
}

#bg main .nav a:nth-child(5) i {
  background: url(../京东/images/icon5.webp) no-repeat center center/contain;
}

#bg main .nav a:nth-child(6) i {
  background: url(../京东/images/icon6.webp) no-repeat center center/contain;
}

#bg main .nav a:nth-child(7) i {
  background: url(../京东/images/icon7.webp) no-repeat center center/contain;
}

#bg main .nav a:nth-child(8) i {
  background: url(../京东/images/icon8.webp) no-repeat center center/contain;
}

#bg main .nav a:nth-child(9) i {
  background: url(../京东/images/icon9.webp) no-repeat center center/contain;
}

#bg main .nav a:nth-child(10) i {
  background: url(../京东/images/icon10.webp) no-repeat center center/contain;
}

#bg main .nav a i {
  display: block;
  width: 1.093333rem;
  height: 1.066667rem;
}

#bg main .nav a span {
  font-size: .32rem;
  color: #c6c6c6;
}

#bg main .today {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

#bg main .today .biping {
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  padding: .28rem .413333rem .666667rem;
  width: 100%;
}

#bg main .today .biping h2 {
  font-size: .466667rem;
  color: #fa483e;
  margin-top: -0.106667rem;
}

#bg main .today .biping .head {
  display: flex;
  width: 3.306667rem;
  height: .466667rem;
  border: .013333rem solid #fa483e;
  border-top-left-radius: .266667rem;
  border-bottom-right-radius: .266667rem;
  border-top-right-radius: .266667rem;
  align-content: center;
}

#bg main .today .biping .head .desc {
  width: 60%;
  text-align: center;
  color: #ff4142;
}

#bg main .today .biping .head .time {
  text-align: center;
  width: 40%;
  color: #fff;
  background: #fa483e;
}

#bg main .today .biping a {
  font-size: .306667rem;
  color: #a9a9a9;
}

#bg main .today .section {
  display: flex;
  align-items: center;
  overflow: scroll;
  width: 100%;
  justify-content: space-around;
}

#bg main .today .section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 0rem .413333rem .666667rem;
  display: block;
  width: 30%;
  height: 4.213333rem;
}

#bg main .today .section a i {
  display: block;
  width: 100%;
  height: 2.8rem;
  background: url(../京东/images/1.webp) no-repeat center center/contain;
}

#bg main .today .section a p {
  text-align: center;
  font-size: 0.2 0.3rem;
  color: #ff453e;
}

#bg main .today .section a span {
  font-size: .293333rem;
  color: #aaaaaa;
  text-align: center;
  margin-left: .133333rem;
}

#bg main .shop {
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  padding: .453333rem .413333rem 1.8rem;
}

#bg main .shop header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bg main .shop header p {
  color: #e62623;
  font-size: .426667rem;
}

#bg main .shop header h2 {
  font-size: .466667rem;
  color: #383838;
}

#bg main .shop .box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-count: 2;
}

#bg main .shop .box figure {
  width: 45%;
  background: #fff;
  break-inside: avoid;
  border-radius: .266667rem;
  margin-top: .2rem;
}

#bg main .shop .box figure img {
  border-radius: .266667rem;
  width: 100%;
  background: url(../京东/images/list1-3.webp) no-repeat center center/contain;
}

#bg main .shop .box figure figcaption {
  width: 100%;
  box-sizing: border-box;
  padding: .2rem .266667rem;
  display: flex;
  flex-direction: column;
}

#bg main .shop .box figure figcaption p {
  font-size: .306667rem;
}

#bg main .shop .box figure figcaption em {
  font-size: .333333rem;
  color: #e62623;
  margin: .133333rem 0rem;
}

#bg main .shop .box figure figcaption span {
  font-size: .333333rem;
  color: #b6b6b6;
}

#bg footer {
  height: 1.333333rem;
  width: 100%;
  background: #fff;
  display: flex;
  position: fixed;
  bottom: 0%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06);
}

#bg footer a {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#bg footer a:nth-child(1) i {
  background: url(../京东/images/tab1.webp) no-repeat center center/contain;
}

#bg footer a:nth-child(2) i {
  background: url(../京东/images/tab2.webp) no-repeat center center/contain;
}

#bg footer a:nth-child(3) i {
  background: url(../京东/images/tab3.webp) no-repeat center center/contain;
}

#bg footer a:nth-child(4) i {
  background: url(../京东/images/tab4.webp) no-repeat center center/contain;
}

#bg footer a:hover:nth-child(1) i {
  background: url(../京东/images/tab1-click.webp) no-repeat center center/contain;
}

#bg footer a:hover:nth-child(2) i {
  background: url(../京东/images/tab2-click.webp) no-repeat center center/contain;
}

#bg footer a:hover:nth-child(3) i {
  background: url(../京东/images/tab3-click.webp) no-repeat center center/contain;
}

#bg footer a:hover:nth-child(4) i {
  background: url(../京东/images/tab4-click.webp) no-repeat center center/contain;
}

#bg footer a i {
  display: block;
  width: .533333rem;
  height: .6rem;
  margin-top: .133333rem;
}

#bg footer a p {
  font-size: .213333rem;
  color: #b6b6b6;
}
